{% extends 'base.html' %}
{% load static %}

{% block 'links' %}
    <link rel="stylesheet" href="{% static 'tables/home.css' %}">
{% endblock %}


{% block 'title' %}
<title>Orders</title>
{% endblock %}

{% block 'body' %}

<table>
    <thead style="word-wrap: break-word;">
        <tr>
            <td>Ապրանքի Անունը</td>
            <td>Ապրանքի Գինը</td>
        </tr>
    </thead>
    <tbody>
        {% for i in իtems %}
            <tr>
                <td>{{i.product_name}}</td>
                <td>{{i.product_price}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

