{% extends 'base.html' %}
{% load static %}

{% block 'links' %}
    <link rel="stylesheet" href="{% static 'tables/home.css' %}">
{% endblock %}


{% block 'title' %}
<title>Orders</title>
{% endblock %}

{% block 'body' %}

<table>
    <thead style="word-wrap: break-word;">
        <tr>
            <th>Ապրանքի Անունը</th>
            <th>Ապրանքի Գինը</th>
        </tr>
    </thead>
    <tbody>
        {% for i in items %}
            <tr>
                <td>{{i.productName}}</td>
                <td>{{i.supPrice}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

